# Copia este archivo a .env.local y ajusta los valores segun tu entorno.
NEXT_PUBLIC_PROGRAM_ID=4RfgHgQRwssnJuzShFwmZVEw7DjNJj5TFPLjFJWJ8MT1
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
